{% extends "dashboard-base.html" %}
{% block content %}
<div>
    <h1 class="page-header">Contact</h1>
    <div>
        <h3>Author</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/marko-savi%C4%87-37a5b6137/">Marko Savić</a></li>
        </ul>
    </div>

    <div>
        <h3>Version</h3>
        <p>Book Recommender 1.0</p>
        <button class="btn btn-primary" data-title="Upgrade"
                data-toggle="modal" data-target="#upgrade">Upgrade</button>

        <div id="upgrade" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                        <h4 class="modal-title" id="myModalLabel">Software upgrade</h4>
                    </div>
                    <div class="modal-body">
                        <p>Your version is up to date!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Description</h3>

        <p>Zril option qui et, dico ullum recusabo no per. In pri ocurreret dissentiunt, qui prima sententiae id. Et lobortis persecuti eam. No duo oblique docendi, ipsum soleat vituperatoribus no nec.</p>
        <p>Purto nibh facilisis mea eu, oporteat quaestio cu vim, ad nullam adipiscing duo. Vis semper sententiae cu. Adhuc corrumpit id vis. Iusto liberavisse mel no, fuisset menandri imperdiet his ad. Stet exerci facilis ea cum, iusto eligendi detraxit vel an, has ad timeam vivendum constituam. Usu ex habeo quaeque, nostrum singulis suscipiantur mel at, ne vis nullam iuvaret.</p>
        <p>Ea sed vidisse fastidii intellegam, cum in vide soleat primis, mei in atqui molestie instructior. Ei pri animal abhorreant, vivendo laboramus quo ne, doming doctus est ad. Cu suas regione nostrud sed. Vis at debet electram. Luptatum scribentur ei mei. Inani viris est ne.</p>
        <p>Novum evertitur appellantur pri ad, facilis ullamcorper usu at. Habemus fuisset commune sed cu, te qui vocent vivendum adipiscing. Vis facer doctus dissentiet ei, has an duis erat torquatos. Eam ea eruditi insolens definitiones, ius et case dolorum fabellas.</p>
        <p>Lorem ipsum dolor sit amet, mea in quot meis. Mel quaeque disputando ei, antiopam iudicabit consulatu an has. Velit ocurreret cum ei, deserunt cotidieque usu ut, sed ea nobis accommodare. Ex vix ignota dissentiet, mel ne veritus electram. Vim at accusata adolescens, et cum timeam feugait singulis, per eu dicta salutatus. No aliquid sensibus principes usu, te vis illud volumus lucilius, pri falli quodsi viderer eu.

            Quo ei aeque legere graeci, tamquam facilisis nam at. Omnes delenit vix ut. Vulputate adipiscing reformidans ea vel, eam ne rebum insolens. Prima cotidieque vim te, mel ad dicant senserit. Et vis error iuvaret. Posse ocurreret consulatu sea ex.</p>

    </div>

</div>
{% endblock %}
