{% extends "dashboard-base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Welcome, {{logged-in-user.username}}!</h1>
        <p class="lead">Insert the book name, and you'll get recommendation for it:</p>
        <div>
            <form action="/search" method="post">
                <div>
                    <input type="text" class="form-control" placeholder="Search..." name="search-input">
                    <input type="hidden" name="logged-in-user" value="{{logged-in-user}}">
                </div>
                <br>
                <div>
                    <input class="btn btn-large btn-primary" type="submit" value="Search books">
                </div>
            </form>

            <br>

            <div class="table-responsive">
                <table class="table-striped table-hover">
                    <thead>
                    <tr>
                        <td>Book name</td>
                        <td>Author name</td>
                        <td>URI</td>
                        <td>Recommend</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in found-books %}
                    <tr>
                        <td>{{book.name}}</td>
                        <td>{{book.author_name}}</td>
                        <td><a href="{{book.uri}}">{{book.uri}}</a></td>
                        <td>
                            <form action="/recommend" method="post">
                                <input type="text" name="num-of-recommendations" value="5" placeholder="Number of recommendations...">
                                <input type="hidden" name="book" value="{{book}}">
                                <input type="hidden" name="user" value="{{logged-in-user}}">
                                <p align="center" data-placement="top" data-toggle="tooltip" title="Recommend">
                                    <input type="submit" class="btn btn-primary btn-xs" data-title="Recommend">
                                </p>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}