<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book Recommender</title>

    {% style "/css/login_form.css" %}


</head>

<body>
<div class="container">
    <section id="content">
        <form action="/login" method="post">
            <h1>Login Form</h1>
            <div>
                <span style="color: #ed1c24">{{error-message}}</span>
            </div>
            <div>
                <input type="text" placeholder="Username" required="" id="username" name="username"/>
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Log in"/>
                <a href="#">Lost your password?</a>
                <a href="{{servlet-context}}/register">Register</a>
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div><!-- container -->
<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>
</body>
</html>
